*{
 margin: 0;
}
/* div{
    border: 5px solid red;
} */
#buscadorGeneral{
    background-image: url('../images/fotoLagunaInviernoCopy.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 40% 40%;
    
}
#seccionBusqueda{
    /* border: purple 5px solid; */
    display: flex;
    width: 50vw;
    height: 10vh; 
    min-height: 40px; 
    min-width: 100px;
    position: absolute; 
    /* border: purple 8px solid; */
    top: 70vh;
    left: 25vw;
    /* background-color: red; */
    
}
#seccionBusqueda input{
    width: 40vw;
    min-width: 100px;
    border-radius: 5vw;
    text-align: center;
    font-size: 3vw;
    font-family: 'Jost', sans-serif;
}
#seccionBusqueda a{
    width: 10%;
    background-color: black ;
    cursor: pointer;
    border-radius: 5vw;
    font-size: 3vw;
    text-align: center;
}
#seccionBusqueda i{
    line-height: 10vh;
    color: #A7C957;
}

#recomendad{
    /* background-color: yellow; */
    clear: both;
    font-family: 'Jost', sans-serif;
    
}
#recomendad h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 50px;
}
.RecomendadosEscrol{
    /* background-color: purple; */
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    overflow:scroll;
    display: flex;
    width: auto;

}
.RecomendadosEscrol > i{
    color: #6A994E ;
    font-size: 80px;
    border-radius: 50%;
    padding: 10px;
    margin:10px;
    cursor: pointer;
}
.dosMitades{
    display: flex;
    width: auto;
}
.VistaMiniRuta{
    background-color:#F3FFA5;
    float: left;
    width: 500px;
    height: 205px;
    margin: 50px;
    border-radius: 2vw;
    /* padding: 0.5vw; */
    /* flex: 500px; */
    display: block;
}
.VistaMiniRuta h3{
    text-align: center;
    background-color: #6A994E;
    border-radius: 2vw 2vw 0 0 ; 
    color: white;
}
.mitadIzq{
    width: 265px;
    position: relative;
    float: left;
}
.mitadIzq img{
    width: 100%;
    border-radius: 0 0 0 2vw ;
}
.mitadDer{
    width: 265px;
    position: relative;
    float: left;
}
.minidatos{
    display: flex;
    flex-wrap: wrap;
    /* background-color: cadetblue; */
    width: auto;
    height: 175px;
    text-align: center;
    font-size: 20px;
    padding: 1px;
}
.titulos{
    padding: 1px;
    float: left;
    width: 130px;
    position: relative;
    /* background-color: red; */
}
.datos{
    position: relative;
    float: left;
    width: 130px;
    /* background-color: chartreuse; */
}
.valoracion{
    position: relative;
    float: left;
    width: 262px;
    /* background-color: aqua */
}
/* COMIENZO grid de los datos*/


.estrellas{
    grid-template-columns:repeat(5, 5fr);
    grid-template-rows:repeat(1, 1fr);
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rebeccapurple; */
}
.estrellas i{
    width: 25px;
    color: gold;
}

/* FIN grid de los datos*/
